/* mainPage */
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: thick solid rgba(0, 0, 0, 0.5);
}

#name{
    padding: 5px;
    margin: 10px;
    min-width: fit-content;
    border-radius: 5px;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin: 5px;
    width: 100%;
}
#navbar > h1 {
    padding: 5px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}
#navbar > h1:active {
    background-color: rgba(0, 0, 0, 0.199);
}

table {
    padding: 20px;
    margin: 50px;
    width: 90%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
td {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
}

.round {
    border-radius: 10px;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.199);
}
.round:active {
    background-color: rgba(0, 0, 0, 0.199);
}
.firstColumn{
    background-color: rgba(0, 0, 0, 0.2);
}
.days {
    border: thin solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 62px;
}
.tickets{
    color: white;
}

#information {
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 40px;
}

#info{
    margin: 30px;
    width: 100%;
    display: flex;
}
.bubbles {
    width: 30%;
    height: fit-content;
    padding: 5px;
    margin:5px;
    border: thin groove black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
