/* mainPage */
* {
    padding: 0;
    margin: 0;
}
/* 
body {
   background: linear-gradient(black, rgb(255, 0, 0));
}
*/
header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: thick solid rgba(0, 0, 0, 0.5);
}

#name{
    padding: 5px;
    margin: 10px;
    min-width: fit-content;
    border-radius: 5px;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin: 5px;
    width: 100%;
}
#navbar > h1 {
    padding: 5px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

table {
    padding: 20px;
    margin: 50px;
    width: 90%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
td {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
}

.firstColumn{
    background-color: rgba(0, 0, 0, 0.2);
}
.days {
    border: thin solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 62px;
}

#information {
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 40px;
}

#info{
    margin: 30px;
    width: 100%;
    display: flex;
}
.bubbles {
    width: 30%;
    height: fit-content;
    padding: 5px;
    margin:5px;
    border: thin groove black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#tickets>a{
    color : white;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2%;
  background-color: #5cb85c;
  color: white;
  border-radius: 25px 25px 0px 0px;
}

.modal-body {padding: 3%;
color:black;

}

button{
    background-color: transparent;
    padding: 5%;
    border-radius: 10px 10px 10px 10px;
    
}

