* {
    padding: 0;
    margin: 0;
}

// Signup page
#signUpPage {
    min-height: 100%;
   background-image: url("./images/mcg.jpg"); 
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position:relative;
   color: black;
   font-family: sans-serif;
}

.signCard {
    background: rgba(226, 123, 13, 0.7);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    height:300px;
    width: 300px;
    transform: translate(-50%, -50%);
    padding: 0 10px 5px;
    text-align: center;
}

.signUp{
    margin-top: 50px;
}

.userForm{
   font-size: 1.5em;
}

#userName {
  margin: 10px 0;
  padding: 5px 10px;
}

#teamList{
    padding:5px;
}

#submitButton {
    background-color: black;
    color:white;
    padding: 10px;
    margin-top: 10px;

//mainPage

body {
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 0, 0));
}

header {
    display: flex;
    background-color: rgb(255, 0, 0);
}

#name{
    padding: 5px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.274);
}
#navbar{
    display: flex;
    padding: 5px;
    margin: 5px;
    width: 100%;

}
#navbar > h1 {
    padding: 5px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.219);
}

table {
    margin: 50px;
    width: 90%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 5px;
}
td {
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    text-align: center;
}

.days {
    border: thin solid black;
    background-color: rgba(255, 0, 0, 0.486);
}

#information {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#info{
    margin: 30px;
    width: 100%;
    display: flex;
}
#rules {
    width: 30%;
    height: fit-content;
    padding: 5px;
    margin:5px;
    border: thin groove black;
    border-radius: 5px;
}
#teamStats {
    width: 30%;
    padding: 5px;
    margin: 5px;
    border: thin groove black;
    border-radius: 5px;
}
#news {
    width: 30%;
    padding: 5px;
    margin: 5px;
    border: thin groove black;
    border-radius: 5px;
  }